<!DOCTYPE html>
<html>
  <head>
    <title>Variome Tracking Dashboard</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.css"
      integrity="sha512-t38vG/f94E72wz6pCsuuhcOPJlHKwPy+PY+n1+tJFzdte3hsIgYE7iEpgg/StngunGszVMrRfvwZinrza0vMTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      body {
        padding: 1.5em;
      }
      #tracking-filters {
        float: left;
        width: 30%;
      }
      #tracking-info {
        float: left;
        width: 90%;
      }
      #tracking-stats {
        float: left;
        width: 90%;
      }
      .warning {
        color: red;
      }
    </style>
  </head>
  <body>
    <h2>Variome Tracking Dashboard</h2>
    <div id="tracking-filters">
      <form method="GET">
        <!-- Placeholder for form -->
        <table>
          <tr>
            <th><label for="id_start">Start date:</label></th>
            <td><input type="date" name="start" required id="id_start"></td>
          </tr>
          <tr>
            <th><label for="id_end">End date:</label></th>
            <td><input type="date" name="end" required id="id_end"></td>
          </tr>
          <tr>
            <th><label for="id_variant">Variant:</label></th>
            <td><input type="text" name="variant" id="id_variant"></td>
          </tr>
          <tr>
            <th><label for="id_user">User:</label></th>
            <td><select name="user" id="id_user" multiple>
              <!-- Example user options -->
              <option value="1">User One</option>
              <option value="2">User Two</option>
            </select></td>
          </tr>
        </table>
        <button type="submit" class="btn waves-effect waves-light">
          Submit
        </button>
      </form>
    </div>

    <div id="tracking-stats">
      <h4>Statistics</h4>
      <table>
        <thead>
          <tr>
            <th>User</th>
            <th># Site Visits</th>
            <th># Site Visits (24h)</th>
            <th>Avg. Time on Site</th>
            <th>Avg. # Variant Pages / Site Visit</th>
            <th># Variants Queried</th>
          </tr>
        </thead>
        <tbody>
          <!-- Example user statistics -->
          <tr>
            <th>User One</th>
            <td>10</td>
            <td>2</td>
            <td>5m</td>
            <td>3</td>
            <td>7</td>
          </tr>
          <tr>
            <th>User Two</th>
            <td>15</td>
            <td>3</td>
            <td>10m</td>
            <td>4</td>
            <td>10</td>
          </tr>
        </tbody>
      </table>

      <h4>Variant Views</h4>
      <table>
        <thead>
          <tr>
            <th>Variant</th>
            <th>View Time</th>
            <th>Visitor</th>
          </tr>
        </thead>
        <tbody>
          <!-- Example variant views -->
          <tr>
            <td><a href="#" target="_blank">Variant 1</a></td>
            <td>2024-06-19 12:00:00</td>
            <td>
              <ul>
                <li>User One</li>
                <li>userone@example.com</li>
                <li>(userone)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td><a href="#" target="_blank">Variant 2</a></td>
            <td>2024-06-19 14:00:00</td>
            <td>
              <ul>
                <li>User Two</li>
                <li>usertwo@example.com</li>
                <li>(usertwo)</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <h4>Variant/Gene Access Details</h4>
      <table>
        <thead>
          <tr>
            <th>Variant/Gene</th>
            <th># of Users Accessed</th>
            <th>Users</th>
          </tr>
        </thead>
        <tbody>
          <!-- Example variant access details -->
          <tr>
            <td>Variant 1</td>
            <td>2</td>
            <td>
              <ul>
                <li>User One (userone@example.com)</li>
                <li>User Two (usertwo@example.com)</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Variant 2</td>
            <td>1</td>
            <td>
              <ul>
                <li>User Two (usertwo@example.com)</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <canvas id="myChart"></canvas>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"
      integrity="sha512-m2PhLxj2N91eYrIGU2cmIu2d0SkaE4A14bCjVb9zykvp6WtsdriFCiXQ/8Hdj0kssUB/Nz0dMBcoLsJkSCto0Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        M.AutoInit();
      });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </body>
</html>
